.hud-label .text {
    -fx-font-smoothing-type: GRAY;
}

.hud-label .text {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS";
}

.button {
    -fx-background-color: TRANSPARENT;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, WHITE, 0, 0, 2, 2);
}

.button .text {
    -fx-font-smoothing-type: GRAY;
    -fx-font-size: 18;
    -fx-font-family: "Comic Sans MS";
    -fx-fill: #555;
}

.button:hover .text {
    -fx-fill: BLACK;
}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, WHITE, 0, 0, 2, 0);
    -fx-translate-y: 2;
}
